---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";

import Hero from "@/components/sections/Hero.astro";
import Collections from "@/components/sections/Collections.astro";
import Quality from "@/components/sections/Quality.astro";
import Features from "@/components/sections/Features.astro";
import Customization from "@/components/sections/Customization.astro";
import HowItWorks from "@/components/sections/HowItWorks.astro";
import Booking from "@/components/sections/Booking.astro";

import imgFullSofa from "@/assets/home/Abudhabi.jpg";
import imgFullFabrics from "@/assets/home/Dubai.jpg";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout
	title={t("home.hero.title") + " " + t("home.hero.subtitle")}
	description={t("home.hero.description")}
>
	<Hero lang={lang} />

	<Collections lang={lang} />

	<Quality lang={lang} />

	<Features lang={lang} />

	<Customization lang={lang} />

	<HowItWorks lang={lang} />

	<!-- Full Width Fabrics Image -->
	<div
		class="w-full aspect-[21/9] min-h-[400px] lg:min-h-[600px] overflow-hidden"
	>
		<Image
			src={imgFullFabrics}
			alt="Materiali e Tessuti"
			class="w-full h-full object-cover"
		/>
	</div>

	<Booking lang={lang} />
</BaseLayout>
