---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
    getLangFromUrl,
    useTranslations,
    getLocalizedPath,
} from "@/i18n/utils";
import { Image } from "astro:assets";

// Images
import ourStoryHero from "@/assets/ourStory/hero.webp";
import ilMioSognoImage from "@/assets/ourStory/il-mio-sogno.webp";
import inUnLogoMagicoImage from "@/assets/ourStory/in-un-luogo-magico.webp";
import benvenutiImage from "@/assets/ourStory/benvenuti.webp";
import fotoRistorante from "@/assets/ourStory/foto-ristorante.webp";
import responsabileDiSala from "@/assets/ourStory/responsabile-di-sala.webp";
import loChef from "@/assets/ourStory/lo-chef.webp";
import laura from "@/assets/ourStory/laura.webp";
import felipe from "@/assets/ourStory/felipe.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPath = getLocalizedPath("/our-story", lang);
---

<BaseLayout
    title={t("ourStory.seo.title")}
    description={t("ourStory.seo.description")}
    currentPath={currentPath}
    lang={lang}
    heroImage={ourStoryHero}
    H1_main={t("ourStory.H1_main")}
    H1_highlight={t("ourStory.H1_highlight")}
>
    <main class="pt-24">
        <!-- Il Mio Sogno -->
        <section
            class="container flex flex-col md:flex-row items-stretch mx-auto px-4 sm:px-6 text-center mb-16 sm:mb-24 max-w-6xl"
        >
            <div class="w-full md:w-1/2 px-4 sm:px-6 mb-8 md:mb-0">
                <h2
                    class="text-xl md:text-4xl font-bold text-black font-adelia mb-6"
                >
                    {t("ourStory.H2")}
                </h2>
                <div
                    class="text-sm sm:text-md text-slate-600 dark:text-white/75 max-w-6xl mx-auto text-left prose prose-sm sm:prose prose-p:p-2 sm:prose-p:p-4"
                    set:html={t("ourStory.ourStory")}
                />
            </div>
            <div
                class="flex flex-col justify-evenly items-center w-full md:w-1/2 px-4 sm:px-6 gap-6 sm:gap-8"
            >
                <Image
                    src={benvenutiImage}
                    alt={t("ourStory.title")}
                    class="w-full max-w-[280px] sm:max-w-[400px] md:max-w-[500px]"
                />
                <Image
                    src={fotoRistorante}
                    alt={t("ourStory.title")}
                    class="w-full max-w-[280px] sm:max-w-[400px] md:max-w-[500px]"
                />
                <h3
                    class="text-xl md:text-4xl font-bold text-black font-adelia mb-6"
                >
                    {t("ourStory.H3")}
                </h3>
            </div>
        </section>

        <!-- Laura -->
        <section class="bg-footer-bg w-full py-8 sm:py-12">
            <div
                class="max-w-6xl mx-auto px-4 sm:px-6 flex flex-col md:flex-row items-center text-center gap-6 md:gap-8"
            >
                <div
                    class="flex flex-col justify-evenly items-center w-full md:w-1/2"
                >
                    <Image
                        src={laura}
                        alt={t("ourStory.responsabileDiSala.altImage")}
                        class="w-full max-w-[300px] sm:max-w-[350px]"
                    />
                </div>
                <div class="w-full md:w-1/2">
                    <h3 class="text-black text-2xl mb-2">LAURA</h3>
                    <h4 class="text-md md:text-lg text-white font-adelia mb-6">
                        Responsabile di Sala
                    </h4>
                    <div
                        class="text-white mt-4 text-left text-sm sm:text-base"
                        set:html={t("ourStory.responsabileDiSala.descrizione")}
                    />
                </div>
            </div>
        </section>

        <!-- Chef -->
        <section class="bg-black w-full py-8 sm:py-12">
            <div
                class="max-w-6xl mx-auto px-4 sm:px-6 flex flex-col md:flex-row items-center text-center gap-6 md:gap-8"
            >
                <div class="w-full md:w-1/2 order-2 md:order-1">
                    <h3 class="text-green-site text-2xl mb-2">FELIPE</h3>
                    <h4 class="text-md md:text-lg text-white font-adelia mb-6">
                        Lo Chef
                    </h4>
                    <div
                        class="text-white mt-4 text-left text-sm sm:text-base"
                        set:html={t("ourStory.loChef.descrizione")}
                    />
                </div>
                <div
                    class="flex flex-col justify-evenly items-center w-full md:w-1/2 order-1 md:order-2"
                >
                    <Image
                        src={felipe}
                        alt={t("ourStory.loChef.altImage")}
                        class="w-full max-w-[300px] sm:max-w-[350px]"
                    />
                </div>
            </div>
        </section>
    </main>
</BaseLayout>
