---
import "../styles/global.css";
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import SEO from "@/components/SEO.astro";
import CookieBanner from "@/components/CookieBanner.astro";
import GTM from "@/components/GTM.astro";
import GTMNoScript from "@/components/GTMNoScript.astro";

import { getLangFromUrl, getLocalizedPath } from "@/i18n/utils";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const currentPath = getLocalizedPath("/", lang);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="dns-prefetch" href="https://cookiebanner.marf.cloud" />
        <link rel="preconnect" href="https://cookiebanner.marf.cloud" />
        <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
        <link rel="preconnect" href="https://www.googletagmanager.com" />
        <GTM />
        <SEO title={title} description={description} />
    </head>

    <body
        class="bg-white text-slate-900 overflow-x-hidden antialiased font-sans"
    >
        <GTMNoScript />

        <Navigation currentPath={currentPath} />

        <main>
            <slot />
        </main>

        <Footer lang={lang} />

        <CookieBanner siteId="artigianidelsalotto" />
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Playfair+Display:ital,wght@0,400;1,400&display=swap");

    :root {
        font-family: "Inter", sans-serif;
    }

    .font-serif {
        font-family: "Playfair Display", serif;
    }

    .container {
        max-width: 1400px !important;
    }
</style>
